.date-form-field {
    margin-left: 20px;
    text-align: center;
}

.billing-form-field {
    margin-left: 20px;
    text-align: center;
}

.form-group {
    text-align: left;
}

billing-full-width {
    width: 100%;
}
