<div class="titulo">
  <h1>REGISTRO FACTURACION</h1>
</div>

<div class="formulario">
  <mat-form-field>
    <mat-label>TIPO</mat-label>
    <mat-select [(value)]="selectedOption"
      (selectionChange)="onOptionSelected()">
      <mat-option value="Persona Natural">Persona Natural</mat-option>
      <mat-option value="Persona Juridica">Persona Juridica</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <!-- Formulario para personas juridicas -->

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>
        Razon Social
      </mat-label>
      <input matInput placeholder="Ingresar razon social">
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field>
      <mat-label>
        NIT
      </mat-label>
      <input matInput placeholder="Ingresar NIT">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field>
      <mat-label>
        Correo Fact
      </mat-label>
      <input matInput placeholder="Ingresar Correo Fact">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>Municipio</mat-label>
      <mat-select>
        <mat-option value="Baranquilla">Barranquilla</mat-option>
        <mat-option value="Cartagena">Cartagena</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field>
      <mat-label>
        Dirección
      </mat-label>
      <input matInput placeholder="Ingresar dirección">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>
        <mat-icon>
          phone
        </mat-icon>
      </mat-label>
      <input matInput placeholder="Ingresar Telefono">
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field>
      <mat-label>
        <mat-icon>
          smartphone
        </mat-icon>
      </mat-label>
      <input matInput placeholder="Ingresar Celular">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Juridica'">
    <mat-form-field>
      <mat-label>
        Contacto
      </mat-label>
      <input matInput placeholder="Ingresar Contacto">
    </mat-form-field><br>
  </ng-container>

  <!-- Formulario para personas naturales -->

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>
        Nombres
      </mat-label>
      <input matInput placeholder="Ingresar Nombres">
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        Apellidos
      </mat-label>
      <input matInput placeholder="Ingresar Apellidos">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>Tipo de Documento</mat-label>
      <mat-select>
        <mat-option value="Cedula de ciudadania">Cedula de ciudadania</mat-option>
        <mat-option value="Cedula de extranjeria">Cedula de extranjeria</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        # de Documento
      </mat-label>
      <input matInput placeholder="Ingresar Numero de documento">

    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        Correo
      </mat-label>
      <input type="email" [formControl]="emailFormControl"
        [errorStateMatcher]="matcher" matInput placeholder="Ingresar correo">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>Municipio</mat-label>
      <mat-select>
        <mat-option value="Baranquilla">Barranquilla</mat-option>
        <mat-option value="Cartagena">Cartagena</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        Direccion
      </mat-label>
      <input matInput placeholder="Ingresar Direccion">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>
        <mat-icon>phone</mat-icon>
      </mat-label>
      <input matInput placeholder="Ingresar telefono">
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        <mat-icon>smartphone</mat-icon>
      </mat-label>
      <input class="long-input" matInput placeholder="Ingresar celular">
    </mat-form-field><br>
  </ng-container>

  <ng-container *ngIf="selectedOption === 'Persona Natural'">
    <mat-form-field>
      <mat-label>
        Contacto
      </mat-label>
      <input matInput placeholder="Ingresar Contacto">
    </mat-form-field><br>
  </ng-container>

  <!-- Responsabilidades tributarias -->
  <div class="responsabilidades">
    <h2>Responsabilidades Tributarias</h2>
    <app-responsabilidades></app-responsabilidades>
  </div>

</div>

<!-- Botones de opcion -->
<div class="buttons">
  <button class="cerrar" mat-dialog-close mat-raised-button color="warn">Cerrar</button>
  <button class="guardar" mat-raised-button color="primary">guardar</button>
</div>